
.nav_new {
    font-weight: bold !important;
}

.navbar-brand {
    font-weight: bold !important;
    font-size: 18px !important;
}

.navi_title {
    font-weight: bold;
}

.pagination{
    display: inline-block !important;
}

.task_new {
    padding: 15px;
    margin: 20px;
}

footer {
    background-color: #F8F9FA;
}